<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }} | Cashflow</title>
        <style>
            table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        {%- if upload_form_visible %}
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="data.csv">
            <input type="submit">
        </form>
        {%- endif %}
        {%- if upload_message %}<p>{{ upload_message }}</p>{% endif %}
        <table>
            {%- if columns %}
            <tr>
                {%- for column in columns %}
                <td>{{ column }}</td>
                {%- endfor %}
            </tr>
            {%- endif %}
            {%- for row in table %}
            <tr>
                {%- for column in columns %}
                {%- if row[column] is float %}
                <td>{{ row[column] | round(2) }}</td>
                {%- elif row[column] is none %}
                <td>-</td>
                {%- else %}
                <td>{{ row[column] }}</td>
                {%- endif %}
                {%- endfor %}
            </tr>
            {%- endfor %}
        </table>
    </body>
</html>
